name: AndroidBuild
on:
  push:
    branches : [ main ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.2

      - name: Setup Java JDK
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Run lint
        run: ./gradlew lint
        continue-on-error: false

      - name: Make gradlew executable
        run: chmod +x ./gradlew

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.2

      - name: Setup Java JDK
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Run unit tests
        run: ./gradlew test
        continue-on-error: false

      - name: Make gradlew executable
        run: chmod +x ./gradlew

  build:
    runs-on: ubunto-latest
    needs: unit-tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.2

      - name: Setup Java Jdk
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.3.1
        with:
          name: Android_Task_Vodafone.apk
          path: app/build/outputs/debug/app-debug.apk
